<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toraysoft.umeng"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application>

        <!-- umeng setting -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!--
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="535dff1c56240b23a8014d2c" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="official" />
        -->

    </application>

</manifest>